<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GCTBWP"
        tools:targetApi="31">
        <activity
            android:name=".Administration_Staff"
            android:exported="false" />
        <activity
            android:name=".Important_Instruction"
            android:exported="false" />
        <activity
            android:name=".Admission_System"
            android:exported="false"
            android:label="@string/title_activity_admission_system"
            android:theme="@style/Theme.GCTBWP" />
        <activity
            android:name=".Admission_Dues"
            android:exported="false" />
        <activity
            android:name=".ImportantInstruction"
            android:exported="false" />
        <activity
            android:name=".Division_of_Seats"
            android:exported="false" />
        <activity
            android:name=".AdmissionSystem"
            android:exported="false"
            android:label="@string/title_activity_admission_system"
            android:theme="@style/Theme.GCTBWP" />
        <activity
            android:name=".FacultyMembers"
            android:exported="false" />
        <activity
            android:name=".Dpt_Telecommunication"
            android:exported="false" />
        <activity
            android:name=".Dpt_Mechanical"
            android:exported="false" />
        <activity
            android:name=".Dpt_Electronics"
            android:exported="false" />
        <activity
            android:name=".Dpt_Electrical"
            android:exported="false" />
        <activity
            android:name=".dpt_cit"
            android:exported="false" />
        <activity
            android:name=".Dpt_Civil"
            android:exported="false" />
        <activity
            android:name=".Dpt_Auto_and_Farm"
            android:exported="false" />
        <activity
            android:name=".Hostel"
            android:exported="false" />
        <activity
            android:name=".Library"
            android:exported="false" />
        <activity
            android:name=".ShortCourses"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashSecreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>